[submodule "cotracker3"]
	path = cotracker3
	url = https://github.com/kallol-saha/cotracker3.git
[submodule "gsam2"]
	path = gsam2
	url = https://github.com/kallol-saha/gsam2.git
[submodule "SpaTracker"]
	path = SpaTracker
	url = https://github.com/henry123-boy/SpaTracker
[submodule "DELTA_densetrack3d"]
	path = DELTA_densetrack3d
	url = https://github.com/snap-research/DELTA_densetrack3d
